# Ignore Python files
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyi
*.pyw
*.pyz
*.pyzw

# Ignore Jupyter Notebook files
*.ipynb_checkpoints/
*.ipynb

# Ignore Python virtual environment files
venv/
py_env/

# Aceite apenas o arquivo all_data.xlsx da pasta dados/processed e ignore todos os outros arquivos 
dados/processed/*
!dados/processed/all_data.csv

# Ignore a pasta input e a pasta backup
input/
backup/



# Ignore o arquivo cron.txt
cron.txt

# Ignore todos os arquivos .xls da pasta dados
dados/*.xls


logs.log
nohup.out
run.lock

script.sh
